*{
    margin: 0px;
    box-sizing: border-box;
}
/*-------------------подключаем шрифты--------------------*/
@font-face{
    font-family:RobotoSlab;
    src: url("fonts/RobotoSlab-Regular.ttf");
}
@font-face{
    font-family:RobotoSlab;
    font-weight:bold;
    src: url("fonts/RobotoSlab-Bold.ttf");
}

@font-face{
    font-family:RobotoSlab;
    font-weight:light;
    src: url("fonts/RobotoSlab-Light.ttf");
}

@font-face{
    font-family:Roboto;
    font-weight:light;
    src: url("fonts/Roboto-Light.ttf");
}

@font-face{
    font-family:ProximaNova;
    font-weight:light;
    src: url("fonts/proximanova-light.otf");
}

@font-face{
    font-family:ProximaNova;
    font-weight:bold;
    src: url("fonts/proximanova-bold.otf");
}
/*-----------------Назначаем общие значение шрифтов для элементов------------------*/
p, ul, a{
    font-family:RobotoSlab;
    color: #31353e;
}
/*
.row{
    background-color: #edeff1;
    width: 100%;
    min-width: 960px;
}

.row:after{
    clear: both;
    content: '';
    display: block;
}
*/
.col-2{
    display: flex;
    flex: 0 50%;
    flex-flow: row wrap;
    text-align: center;
}
.col-3{
    display: flex;
    flex: 0 30%;
    flex-flow: row wrap;
    text-align: center;
}
.col-6{
    display: flex;
    flex: 0 70%;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*-------------------Блоки с фонами--------------------*/
#main {
    display: flex;
    flex-flow: column nowrap;
}

body > div{
    justify-content: center;
    display: flex;
    flex: 0 100%;
    background-color: #edeff1;
}



/*-------------------Блок 1--------------------*/
#row1{
    height: 147px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.work_column{
    display: flex;
    width: 60%;
    flex: 0 1200px;
    flex-flow: row wrap;
    justify-content: center;
}

#row1 .work_column .col-3{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

}
#row1 .work_column .col-6{
    justify-content: flex-end;
}

#logo_name{
    font-family: RobotoSlab;
    font-weight: bold;
    font-size: 36px;
}


#logo_surname{
    font-family: RobotoSlab;
    font-size: 16px;
    letter-spacing: .6px;
    color: #dd4b2b;
}

/*-------------------Верхнее меню--------------------*/

nav {
    display: flex;
    justify-content: flex-end;
}

nav #top_menu{
    display: flex;
    justify-content: center;
}
#top_menu{
    display: flex;
    flex: auto;
    flex-flow: row wrap;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#top_menu li{
    display: flex;
    }

#top_menu li a{
    font-family: RobotoSlab;
    font-size: 18px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    transition: color .5s;
    padding-left: 19px;
    padding-right: 19px;
    height: 49px;
    align-items: center;
    }

#top_menu li a:hover{
    background-color: #dd4b2b;
    border-radius: 21px;
    color: white;
    justify-content: center;
    align-content: center;
    transition: color .5s;
    }

/*-------------------Блок 2--------------------*/
#row2{
    display: flex;
    background: url(../img/bg_index_001.jpg) no-repeat;
    background-size: cover;
    height: 1320px;
    overflow: hidden;
    justify-content: center;
    flex: 0 100%;
    background-position: center;
}

.head_part_row2{
    flex-flow: column nowrap;
    display: flex;
    flex: 0 100%;
    justify-content: center;
    align-items: center;
    padding-top: 420px; 
}

/*-------------------Меню блока 2--------------------*/
.menu_part_row2{
    display: flex;
    padding-top: 60px;
    flex-flow: row wrap;
    justify-content: center;
}

.menu_part_row2 .col-3{
    display: flex;
    flex-flow: column nowrap;
}

.img_container{
    display: flex;
    justify-content: center;
    position: relative;    
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.img_menu_row2{
    width: 150px;
}
/*-----------------Эффекты при наведении на иллюстрацию в меню блока 2------------------*/
.img_cover, .img_cover2{
    position: absolute;
    top: 75px;
    right: 75px;
    width: 1px;
    height: 1px;
    border-radius: 0px;
    background-color: #525554;
}

.img_container:hover .img_cover{
    width: 150px;
    height: 150px;
    top:0;
    right: 0px;
    border-radius: 75px;
    opacity: 0.3;
    transition: 0.5s;
    opacity: 0;
}

.img_container:hover .img_cover2{
    width: 150px;
    height: 150px;
    top:0;
    right: 0px;
    border-radius: 75px;
    opacity: 0.1;
    transition: .5s ease-out 0.2s;
    opacity: 0;
}

.head1{
    font-weight:light;
    font-size: 72px;
    color: white;
    text-align: center;
    text-shadow: 0px 1px #939095;
}

.subhead1{
    font-weight:bold;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 48px;
    text-shadow: 0px 1px #939095;
}

.head2{
    font-weight:bold;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 24px;
    margin-top: 30px;
}

.subhead2{
    margin-top: 27px;
    font-family: Roboto;
    font-weight:light;
    font-size: 15px;
    color: white;
    text-align: center;
    line-height: 30px;
    padding-left: 45px;
    padding-right: 45px;
}

.read_more_big{
    margin-left: auto;
    margin-right: auto;
    width: 212px;
    height: 54px;
    border-radius: 23px;
    background-color: white;
    text-align: center;
}

.read_more_big a{
    text-decoration: none;
    display: block;
     width: 212px;
    height: 54px;
    line-height: 54px;
    color: #612316;
    font-size: 18px;
    text-align: center;
}

.read_more_big:hover{
    background-color: #612316;
    text-align: center;
    border-radius: 23px;
    transition: 0.5s;
}

.read_more_big:hover a{
    color: white;
    transition: 0.5s;
}

.work_column_row3{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 45px;
    margin-bottom: 2em;
}

.work_column_row3 .col-3{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.head3{
    font-weight: bold;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 65px;
    text-align: center;
}

#row3{
    display: flex;
    flex-flow: column nowrap;
    height: 790px;
    display: flex;
}

#row3 .work_column{
    display: flex;
    align-self: center;
    width: 60%;
    flex: 0 auto;
}

.img_menu_row3{
    display: flex;
    width: 90%;
    height: auto;
}

.head4{
    font-weight: bold;
    font-size: 23px;
    text-align: center;
    padding-top: 35px;
}

.head4_after{
    font-family:Roboto;
    font-weight:light;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    padding-top: 18px;
    padding-left: 45px;
    padding-right: 45px;
}
/*Маленькие "read more" с эффектами*/
.read_more_small{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 179px;
    height: 54px;
    border-radius: 27px;
    background-color: white;
    text-align: center;
}

.read_more_small a{
    @font-family: Roboto;
    text-decoration: none;
    display: block;
     width: 179px;
    height: 54px;
    line-height: 54px;
    color: #612316;
    font-size: 15px;
    text-align: center;
}

.read_more_small:hover{
    background-color: #612316;
    text-align: center;
    border-radius: 23px;
    transition: 0.5s;
}

.read_more_small:hover a{
    color: white;
    transition: 0.5s;
}
/*-------------------Блок 4--------------------*/
#row4{
    background: url(../img/bg_index_002.jpg) repeat-x;
    background-size: cover;
    height: 370px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#row4_after{
    display: flex;
    height: 370px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.2);
}

#row4_after .work_column{
    display: flex;
    flex-flow: column;
    flex: 0 100%;
}

.head3_white{
    font-weight: bold;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    text-align: center;
    color: white;
}

.head3_white_after{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family:Roboto;
    font-weight:light;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    padding-top: 18px;
    padding-left: 45px;
    padding-right: 45px;
    color: white;
}
/*-------------------форма подписки по e-mail--------------------*/
.form_email{
    width: 508px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 53px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    background-clip: padding-box;
    border-radius: 23px;
    line-height: 53px;
    position: relative;
}

.form_email input{
    width: 508px;
    height: 53px;
    border: 0px solid white;
    background-color: rgba(243, 243, 243, 0.1);
    line-height: 53px;
    padding-left: 35px;
    border-radius: 23px;
    font-family: RobotoSlab;
    color: #f3f4f6;
    font-size: 18px;
}

/*Убираем обводку при активной форме (обводке квардрат, а форма со скруглениями)*/
.form_email input:focus{
    outline: none;
}

#form_email_button{
    width: 210px;
    height: 53px;
    background-color: white;
    position: absolute;
    top:-1px;
    right: -1px;
    font-family: RobotoSlab;
    color: #612316;
    font-size: 18px;
    line-height: 53px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
}

/*-------------------Блок 5--------------------*/
#row5{
    display: flex;
    height: 1020px;
    flex-flow: column;
    align-items: center;
}

#row5 .work_column{
    margin-TOP: 50px;
    display: flex;
    flex-flow: row nowrap;
}

.white_text{
    color: white;
}

.row5_block_left, .row5_block_right{
    display: flex;
    padding-top: 1em;
    flex: 0 50%;
    width: 50%;
    padding-right: 20px;
    padding-left: 20px;
    flex-flow: column;
    
}

.img1{
height: 405px;
background-image: url(../img/row-3_01.png);
background-size:contain;
background-position: center;
background-repeat: no-repeat;
}

.img2{
height: 405px;
background-image: url(../img/row-3_02.png);
background-size:contain;
background-position: center;
background-repeat: no-repeat;
}

.row5_text{

    font-family: Roboto;
    font-size: 16px;
    color: #191b29;
}

.row5_text p{
    padding-top: 40px;
}

.row5_text p:first_child{
    padding-top: 20px;
}

.head3_black{
    font-weight: bold;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    text-align: left;
    color: #191b29;
}

/*-------------sign up с эффектами------------*/
/*Маленькие "read more" с эффектами*/
.sign_up_small{
    margin-top: 40px;
    width: 179px;
    height: 54px;
    border-radius: 27px;
    background-color: #dd4b2b;
    text-align: center;
}

.sign_up_small a{
    text-decoration: none;
    display: block;
    width: 179px;
    height: 54px;
    line-height: 54px;
    color: white;
    font-size: 18px;
    text-align: center;
}

.sign_up_small:hover{
    background-color: white;
    border: 1px solid #dd4b2b;
    border-radius: 23px;
    transition: 0.5s;
}

.sign_up_small:hover a{
    color: #dd4b2b;
    transition: 0.5s;
    line-height: 52px;
}

/* кнопка синего цвета*/

.sign_up_small_blue{
    background-color: #4b4e73;
}

/*-------------------Блок 6--------------------*/
#row6{
    display: flex;
    background-color: #d75d0e;
    height: 410px;
    justify-content: center;
}

#row6 .work_column{
    display: flex;
    flex-flow: row;
    flex: 0 60%;
    align-self: center;
    align-items: center;
}

#row6 .work_column .col-3{
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.List_row6{
     list-style: none;
    padding: 0;
    margin: 0;
}

.List_row6 li{
    font-family: Roboto;
    font-size: 18px;
    color: white;
    line-height: 34px;
    text-align: center;
}

/*-------------------Блок 7--------------------*/
#row7{
    display: flex;
    background: url(../img/bg_index_003.jpg) repeat-x; 
    background-size: cover;
    height: 380px;
    overflow: hidden;
    position: relative;
}

#row7_after{
    height: 380px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.2);
}


#row7 .col-2{
    padding-top: 90px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: flex;
    justify-content: center;
}

#row7 p{
    display: flex;
    flex: 0 80%;
    justify-content: center;
    font-family:ProximaNova;
    font-weight:light;   
    font-size: 18px;
    color: white;
    line-height: 24px;
    text-align: center;
}

.Proxima_bold{
    font-family:ProximaNova;
    font-weight:bold;   
}

/*--------------------------------------------------------------- 992 px--------------------*/

@media screen and (max-width: 992px){

#top_menu li a {
    font-size: 18px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    transition: color .5s;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 49px;
    align-items: center;
}
   
    
#row1 .work_column .col-6{
    justify-content: flex-start;
}

.head1{
    font-size: 60px;
}
    
.subhead2{
    line-height: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#row2{
    display: flex;
    background-size: cover;
    height: 800px;
    flex: 0 100%;
    background-position: center;
    }

.head_part_row2{
     padding-top: 60px; 
}

#row3{
    height: 600px;
    display: flex;
}
    
#row3 .work_column{
    display: flex;
    align-self: center;
    flex: 0 90px;
}

.head3{
    padding-top: 30px;
 }
    
.head4_after {
    line-height: 20px;
}
    
 .head3_white {
    padding-top: 20px;
}
    
.head3_white_after {
    line-height: 20px;
}
    
.work_column_row3{
    padding-top: 5px;
}

#row5{
    display: flex;
    height: auto;
    flex-flow: column;
    align-items: center;
}
    
#row5 .work_column{
    margin-top: 0px;
    margin-bottom: 1em;
    flex-flow: column;
    width: 80%;
    flex: 0 100%;
}
 .row5_text{
    display: flex;
    flex-flow: column;
    font-family: Roboto;
    font-size: 16px;
    color: #191b29;
    padding-bottom: 30px;
}
    
.row5_text p{
    padding-top: 5px;
}

.row5_text p:first_child{
    padding-top: 0px;
}
    
.row5_block_left, .row5_block_right {
    display: flex;
    width: 100%;
    flex-flow: column;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-right: 0px;
    padding-left: 0px;
    align-items: center;
}
    
.row5_block_left{
    order: 1;
    }
    
.row5_block_right img1{
    order: 0;
    }



.img1{
background-image: url(../img/row-3_01.png);
background-size:contain;
background-position: center;
background-repeat: no-repeat;
}

.img2{
background-image: url(../img/row-3_02.png);
background-size:contain;
background-position: center;
background-repeat: no-repeat;
}
    

.head3_black{
    padding-top: 0px;
}

.sign_up_small{
    margin-top: 0px;
}
    
#row7{
    height: 280px;
}    
    
}


/*--------------------------------------------------------------- 768 px--------------------*/

@media screen and (max-width: 768px){
    
#row1 .work_column{
    display: flex;
    flex-flow: column;
}
    
#row1 .work_column .col-3{
    flex: 1 100%;
    padding: 0.4em;
}
    #row1 .work_column .col-6{
    flex: 1 100%;
    justify-content: center;
}
    
#top_menu li a {
    font-size: 15px;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    transition: color .5s;
    padding-left: 3px;
    padding-right: 3px;
    height: 49px;
    align-items: center;
}
    
 #top_menu li::after {
     font-size: 15px;
    content: " | ";    
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    transition: color .5s;
    padding-left: 3px;
    padding-right: 3px;
    height: 49px;
    align-items: center;
    }
    
#top_menu li:last-child::after {
     font-size: 15px;
    content: "";    
    }

.head1{
    font-size: 40px;
}
/*-------------------------------------------*/    
.subhead1 {
     font-size: 25px;
 
}
    
.subhead2{
    line-height: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

#row2{
    display: flex;
    background-size: cover;
    height: auto;
    flex: 0 100%;
    padding-bottom: 2em;
    background-position: center;
    }

#row2  .work_column{
    flex: auto;
    }


.img_container{
    display: flex;
    position: relative;    
    width: 100%;
    flex: 0 100%;
    flex-flow: column wrap;
    justify-content: center;    
    height: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
    
.menu_part_row2{
    flex: 0 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 60px;
    flex-flow: column;
    flex: 0 auto;
}

.img_cover, .img_cover2 {
    display: flex;
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    
    width: 1px;
    height: 5px;
    border-radius: 0px;
    background-color: #525554;
}

.img_container:hover .img_cover{
    display: flex;
    width: 150px;
    height: 150px;
    top: auto;
    left: auto;
    right: auto;
    border-radius: 75px;
    transition: 0.5s;
    opacity: 0;
}

.img_container:hover .img_cover2{
    display: flex;
    width: 150px;
    height: 150px;
     top: auto;
    left: auto;
    right: auto;
    border-radius: 75px;
    opacity: 0.1;
    transition: .5s ease-out 0.2s;
    opacity: 0;
}

 .subhead2 {
    padding-bottom: 2em;
}
    
.head_part_row2{
     padding-top: 40px; 
}

#row3{
    height: auto;
    display: flex;
}
    
#row3 .work_column{
    display: flex;
    align-self: center;
    flex: 0 90px;
}

    
.head3{
    padding-top: 34px;
 }
    
.head4_after {
    line-height: 20px;
}
    
 .head3_white {
    padding-top: 20px;
}
    
.head3_white_after {
    line-height: 20px;
}
    
.head3_black {
    font-size: 25px;
    padding-top: 20px;
}
    
.work_column_row3{
    padding-top: 5px;
    display: flex;
    flex-flow: column;
    align-content: center;
}


.work_column_row3 .col-3{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
}

.img_menu_row3 {
    display: flex;
    width: 70%;
    height: auto;
}
    
#row5{
    display: flex;
    height: auto;
    flex-flow: column;
    align-items: center;
}
    
#row5 .work_column{
    margin-top: 0px;
    margin-bottom: 1em;
    flex-flow: column;
    width: 80%;
    flex: 0 100%;
    padding: 0;
}
 .row5_text{
    display: flex;
    flex-flow: column;
    font-family: Roboto;
    font-size: 16px;
    color: #191b29;
    padding-bottom: 30px;
}
    
.row5_text p{
    padding-top: 5px;
}

.row5_text p:first_child{
    padding-top: 0px;
}
    
.row5_block_left, .row5_block_right {
    display: flex;
    width: 100%;
    flex-flow: column;
    margin-top: 0;
    margin-bottom: 1em;
    padding-right: 0px;
    padding-top: 0;
    padding-left: 0px;
    align-items: center;
}
    
.row5_block_left{
    order: 1;
    }
    
.row5_block_right img1{
    order: 0;
    }



.img1{
background-image: url(../img/row-3_01.png);
background-size:contain;
background-position: center;
background-repeat: no-repeat;
}

.img2{
background-image: url(../img/row-3_02.png);
background-size:contain;
background-position: center;
background-repeat: no-repeat;
}
    

.head3_black{
    padding-top: 0px;
}

.sign_up_small{
    margin-top: 0px;
}

#row6 {
    height: 310px;
 
}
    
#row6 .work_column {
    display: flex;
    flex-flow: row;
    flex: 0 100%;
}
    
 #row6 .work_column .col-3 {
    display: flex;
    justify-content:space-between;
    align-self: flex-start;
}
    
.List_row6 li{
    font-size: 15px;
    line-height: 25px;
}
    
#row7{
    height: 280px;
}    
    
}


/*--------------------------------------------------------------- 550 px--------------------*/

@media screen and (max-width: 550px){

nav {
    height: 100%;
    margin: 0;
    padding: 0;
}

nav #top_menu{
    height: 100%;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
    
#row1{
    height: 100%;
}
    
#row1 .work_column{
    height: 100%;
    display: flex;
    flex-flow: column;
}
    
#row1 .work_column .col-3{
    flex: 1 100%;
    padding: 0.4em;
}
    #row1 .work_column .col-6{
    flex: 1 100%;
    justify-content: center;
}

#top_menu{
    flex-flow: column nowrap;
}

    
#top_menu li a {
    font-size: 13px;
    padding-left: 3px;
    padding-right: 3px;
    align-items: center;
    line-height: 10px;
}
    #top_menu li {
    font-size: 13px;
    padding-left: 3px;
    padding-right: 3px;
    align-items: center;
    line-height: 10px;
}
    
 #top_menu li::after {
     font-size: 13px;
    content: "";    
    }
    
#top_menu li:last-child::after {
     font-size: 13px;
    content: "";    
    }

.head1{
    font-size: 30px;
    margin-bottom: 10px;
}
/*-------------------------------------------*/    
.subhead1 {
     font-size: 25px;
    line-height: 30px;
}
    
.subhead2{
    line-height: 15px;
    
    padding-left: 5px;
    padding-right: 5px;
}

 .head_part_row2 {
    padding-top: 20px;
}
#row2{
    display: flex;
    background-size: cover;
    height: auto;
    flex: 0 100%;
    padding-bottom: 2em;
    background-position: center;
    }

#row2  .work_column{
    flex: auto;
    }
/*-------------------------------------------*/
.head3_white{
    font-size: 30px;
    margin: 0;
    padding: 0;
    padding-top: 0.5em;
    text-align: center;
    color: white;
}

.head3_white_after{
    width: 100%;
}
/*-------------------------------------------*/
    #row4{
    height: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#row4_after{
    display: flex;
    height: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.2);
}

#row4_after .work_column{
    display: flex;
    flex-flow: column;
    flex: 0 100%;
}

/*-------------------форма подписки по e-mail--------------------*/
.form_email{
    width: 90%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: 43px;
    line-height: 43px;
    position:relative;
}

.form_email input{
    width: 100%;
    height: 43px;
    line-height: 43px;
    padding-left: 1em;
    border-radius: 1em;
    font-size: 15px;
    position:relative;
}

#form_email_button{
    width: 100%;
    height: 43px;
    font-size: 15px;
    line-height: 43px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 50px;

}  
/*---------------------------*/
.row5_block_right img2{
    height: 100%;
    margin: 0;
    padding: 0;
    }
    
    .img2 {
    height: 200px;
    }
    
    .img1 {
    height: 200px;
    }
    
}
