body{
    background: url("../img/bg.png");
    margin: 0;
}

canvas{
    background: url("../img/bg_game.png");
}

.body{
    height: 100vh;    
    display: flex;
    justify-content: center;
    align-items: center;
}